[submodule "vectornav"]
	path = vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
